.vs/ProjectEvaluation/srktsystem.metadata.v10.bin
.vs/ProjectEvaluation/srktsystem.projects.v10.bin
.vs/ProjectEvaluation/srktsystem.strings.v10.bin
.vs/ProjektRezerwacjiKort.slnx/v18/.wsuo
.vs/ProjektRezerwacjiKort.slnx/v18/DocumentLayout.json
.vs/SRKTSystem/DesignTimeBuild/.dtbcache.v2
.vs/SRKTSystem/FileContentIndex/dfb4b616-f8e4-4798-9790-a7fc6c0b6d88.vsidx
.vs/SRKTSystem/v18/.futdcache.v2
.vs/SRKTSystem/v18/.suo
.vs/SRKTSystem/v18/DocumentLayout.json
.vs/VSWorkspaceState.json
/.vs
.SRKT.WPF/bin/Debug
